<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Official.css">
    <link rel="icon" href="../../../Downloads/ProyectoFinal/img/Logo2.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
    <title>Ciudadanosde4Patas</title>
</head>

<body>

    <!-- menu -->
    <nav class="navbar navbar-expand-lg navbar-light navbar-color">
        <div class="container">
            <a class="navbar-brand"><img src="../../../Downloads/ProyectoFinal/img/Official-f.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="d-flex align-items-center">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav d-flex align-items-center">
                        <a class="nav-link active"><button data-bs-toggle="modal" data-bs-target="#modalLogOut"
                                class="buttonOrange">Log out</button></a>
                    </div>
                </div>
            </div>
    </nav>

    <!-- fin menu -->



    <!--inicio del modal para cerrar secion-->
    <div class="modal fade" id="modalLogOut" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Logout</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>¿Estas seguro de salir?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <a href="../components/index.html"><button type="button" class="btn btn-primary">Aceptar</button></a>
                </div>
            </div>
        </div>
    </div>
    <!--Fin del modal-->


    <h3 class="text-center">Tabla pets</h3>
    <div class="container tablaOfficial">
        <div class="row">

            <table class="table table-hover table-stripped table-bordered" cellspacing="0" id="tabla1">
                <thead>
                    <tr>
                        <th>Pet-id</th>
                        <th>Microchip</th>
                        <th>Name</th>
                        <th>Species</th>
                        <th>Race</th>
                        <th>Size</th>
                        <th>Sex</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    <tr>

                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <br><br>
    <h3 class="text-center">Tabla propietarios</h3>
    <div class="container tablaOfficial">
        <div class="row">

            <table class="table table-hover table-stripped table-bordered" cellspacing="0" id="tabla2">
                <thead>
                    <tr>
                        <th>addres</th>
                        <th>name</th>
                        <th>Neighborhood</th>
                        <th>person_id</th>
                        <th>username</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                    </tr>
                </tbody>
            </table>

        </div>







        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
        </script>
        <script src="https://unpkg.com/@popperjs/core@2"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
        <script src="../js/official.js"></script>

</body>

</html>