<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FourPawsCitiziens | Veterinario</title>
    <link rel="icon" href="../../../Downloads/ProyectoFinal/img/Logo2.png">
    <link rel="stylesheet" href="../css/veterinaty.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
</head>

<body>

    <!-- menu -->
    <nav class="navbar navbar-expand-lg navbar-light navbar-color">
        <div class="container">
            <a class="navbar-brand"><img src="../../../Downloads/ProyectoFinal/img/logoVet.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="d-flex align-items-center">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav d-flex align-items-center">
                        <a class="nav-link"><button data-bs-toggle="modal" data-bs-target="#modalCrearVisita"
                                class="buttonOrange">Crear visita</button></a>
                        <a class="nav-link active"><button data-bs-toggle="modal" data-bs-target="#modalLogOut"
                                class="buttonWhite">Log out</button></a>
                    </div>
                </div>
            </div>
    </nav>

    <!-- fin menu -->



    <!-- modal  -->
    <div class="modal fade" id="modalCrearVisita" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Crear nueva visita</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form action="">

                        <div class="col-12">
                            <label for="validationServer01 " class="pet_id">Pet.Id</label>
                            <input type="number" class="form-control " id="addmicroship" required>
                        </div>

                        <div class="col-12">
                            <label for="validationServer01 " class="fecha">Fec. Creación</label>
                            <input type="date" class="form-control " id="addmicroship" required>
                        </div>

                        <div class="col-12">
                            <label for="validationServer01 " class="tipo">Tipo</label>
                            <select class="form-select" aria-label="Default select example" required>
                                <option selected>Seleccione tipo</option>
                                <option value="esterilización">Esterilización</option>
                                <option value="implantación">Implantación de microship</option>
                                <option value="vacunación">Vacunación</option>
                                <option value="desparasitación">Desparasitación</option>
                                <option value="urgencia">Urgencia</option>
                                <option value="control">Control</option>
                            </select>
                        </div>

                        <div class="col-12">
                            <label for="description" class="form-label">Descripción</label>
                            <textarea class="form-control" id="description" rows="3" required></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Crear</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- fin modal -->


    <!-- modal logOut -->

    <div class="modal fade" id="modalLogOut" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Logout</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>¿Estas seguro de salir?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <a href="../../../Downloads/ProyectoFinal/index.html"><button type="button" class="btn btn-primary">Aceptar</button></a>
                </div>
            </div>
        </div>
    </div>

    <!-- fin modal  -->

    <br><br>

    <h3 class="text-center">Tabla visitas</h3>

    <!-- tabla -->
    <div class="container tablaVet">
        <div class="row">

            <table class="table table-hover table-stripped table-bordered" cellspacing="0" id="tabla1">
                <thead>
                    <tr>
                        <th>id_visita</th>
                        <th>fec. Creación</th>
                        <th>tipo</th>
                        <th>descripción</th>
                        <th>vet-id</th>
                        <th>pet_id</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <!-- fin.tabla -->


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
    <script src="./js/vet.js"></script>
</body>

</html>